# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.idea
.ipython
__pycache__
staticfiles
TODO.md

data/*
data/fixtures/*
!data/fixtures/songs.json
!data/fixtures/attachments.json
!data/rhymes.txt
!data/rhymes_train.txt
!data/simsounds.json
!data/synonyms.txt
!data/eng_latn_us_broad.tsv

clients/**/dist

scripts/**/*
!scripts/load_data.py
!scripts/lyric_sim.py
!scripts/output_rhymes.py
!scripts/rhyme_score.py

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# local env files
.env*.local

# vercel
.vercel
.next
