# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.idea
.ipython
__pycache__
staticfiles
TODO.md

data/*
data/fixtures/*
!data/rhymes.json
!data/simsounds.json
!data/variants.txt
!data/ipa_gpt.json
!songs/data/fixtures/artists.json
!songs/data/fixtures/writers.json

**/client/**/dist
**/client/**/dist

scripts/**/*
!scripts/load_data.py
!scripts/lyric_sim.py
!scripts/output_rhymes.py
!scripts/proc_gpt_ipa.py

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# local env files
.env*.local

# vercel
.vercel
.next
