Django
psycopg2
gunicorn
django-on-heroku
nltk
eng-to-ipa
pronouncing
inflect
num2words
panphon
g2p
minineedle
django-cors-headers
django-debug-toolbar
requests
requests-cache
hiredis
redis
dj-database-url
google-auth
