fieldset {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 8px 0 12px 0;
  padding-right: 5px;

  width: 85vw;
  min-width: 190px;
  max-width: 610px;

  button {
    padding: 12px;
    margin: 0;
    background: #eee;
    border: 1px dotted #aaa;
  }
}

.output {
  label {
    font-size: 18px;
  }

  ul {
    --gap: 20;
    margin-top: 30px;
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-flow: row wrap;
    max-width: 768px;
    gap: var(--gap) px;

    li {
      text-indent: 0;
      font-size: larger;
      margin-bottom: 12px;
      a {
        cursor: pointer;
      }

      &:before {
        display: none;
      }

      &.hit {
        &.rhyme a {
          opacity: 1;
          font-style: normal;
          font-weight: bold;
        }

        &.rhyme-l2 a {
          opacity: .7;
          font-style: normal;
          font-weight: normal;
        }

        &.suggestion a {
          opacity: 0.6;
          font-style: italic;
          font-weight: normal;
          overflow: visible;
          padding: 3px 3px 3px 0;
        }

        .freq {
          font-size: medium;
          color: #666;
          display: none;
        }
      }
    }
  }
}

@function colWidth($defaultCols) {
  @return calc((100% - (var(--gap) * var(--cols, #{$defaultCols - 1}) * 1px)) / var(--cols, #{$defaultCols}));
}

@media screen and (max-width: 374px) {
  ul li {
    width: colWidth(1);
  }
}
@media screen and (min-width: 375px) and (max-width: 479px) {
  ul li {
    width: colWidth(2);
  }
}
@media screen and (min-width: 480px) {
  ul li {
    width: colWidth(3);
  }
}
