html, body {
  padding: 0;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  padding: 10px 0 10px 20px;
  background: aliceblue;
  display: flex;
  align-items: center;

  h1 {
    flex: 1;
    margin: 0;
    font-size: 30px;

    a,
    a:visited {
      border: 0;
      color: black;
    }
  }
}

main {
  flex: 1;
  padding: 20px;

  fieldset {
    border: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 0 5px 0;
    padding-right: 5px;

    button {
      border-radius: 0;
      padding: 0 25px;
      border: 0;

      &.listen {
        margin-left: 5px;
        background: green;
        &.is-listening {
          background: red;
        }
      }
    }
  }

  a,
  a:visited {
    color: blue;
    border: 0;
  }
}


footer {
  padding: 10px 0 10px 20px;
  background: aliceblue;
  display: flex;
  align-items: center;
  border: 1px solid #eee;
}

@media screen and (min-width: 640px) {
  footer .links {
    display: initial;
  }
}
